<p id="notice"><%= notice %></p>

<p>
  <strong>Site url:</strong>
  <%= @site.site_url %>
</p>

<p>
  <strong>Background url:</strong>
  <%= @site.background_url %>
</p>

<p>
  <strong>Message:</strong>
  <%= @site.message %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @site.short_name %>
</p>

<p>
  <strong> Landing Page URL </strong>
  <%= link_to(site_landing_url(@site.short_name)) %>
</p>

<p>
  <strong> Prospects </strong>
  <ul>
  <% @site.prospects.each do |prospect| %>
    <li> <%= prospect.email %> </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
